#### 計算 dipping 程度，公式：(awake_var - sleep_var) / (awake_var)
Calculate the proportion of blood pressure and heart rate drop, formula (awake_var - sleep_var) / (awake_var)
var = variables

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dir_path = 'C:/Users/Yao-Chung Chen/OneDrive/github_ferygood/CR-Hemodynamics/dash/code/Clean_data/'
file = os.path.join(dir_path, 'control_and_dash.csv')
df = pd.read_csv(file, index_col=0)
df.head()

,ID_REL,DIET,SODIUM,SLEEP_CY,SLEEPFRO,SLEEPTO,mean_sleep_sbp,mean_sleep_dbp,mean_sleep_rate,mean_awake_sbp,mean_awake_dbp,mean_awake_rate,SEX,AGE_REL
0,DASH200303,CONTROL,H,usual,21,29,115.750000,65.875000,74.125000,126.354839,78.967742,89.516129,2,2
1,DASH200244,CONTROL,H,usual,22,31,124.157895,73.578947,75.315789,137.300000,82.233333,87.966667,2,1
2,DASH200107,CONTROL,H,usual,26,31,118.100000,64.000000,57.900000,138.368421,84.105263,77.184211,1,1
3,DASH200002,CONTROL,H,usual,23,30,103.666667,54.416667,46.500000,130.393939,72.363636,60.212121,1,1
4,DASH200238,CONTROL,H,usual,21,29,109.687500,67.062500,66.062500,139.636364,84.575758,81.848485,1,6

寫一個函式來計算 dipping 並加上表格: calculate_dipping()
write a function to calculate the drop proportioin and add the result to a new column

In [3]:
def calculate_dipping(df):
    '''
    formula = (awake_var - sleep_var) / (awake_var)
    '''
    df['drop_sbp'] = (df['mean_awake_sbp'] - df['mean_sleep_sbp']) / df['mean_awake_sbp']
    df['drop_dbp'] = (df['mean_awake_dbp'] - df['mean_sleep_dbp']) / df['mean_awake_dbp']
    df['drop_rate'] = (df['mean_awake_rate'] - df['mean_sleep_rate']) / df['mean_awake_rate']
    return df

In [4]:
df_dip = calculate_dipping(df)
df_dip.head()

,ID_REL,DIET,SODIUM,SLEEP_CY,SLEEPFRO,SLEEPTO,mean_sleep_sbp,mean_sleep_dbp,mean_sleep_rate,mean_awake_sbp,mean_awake_dbp,mean_awake_rate,SEX,AGE_REL,drop_sbp,drop_dbp,drop_rate
0,DASH200303,CONTROL,H,usual,21,29,115.750000,65.875000,74.125000,126.354839,78.967742,89.516129,2,2,0.083929,0.165799,0.171937
1,DASH200244,CONTROL,H,usual,22,31,124.157895,73.578947,75.315789,137.300000,82.233333,87.966667,2,1,0.095718,0.105242,0.143814
2,DASH200107,CONTROL,H,usual,26,31,118.100000,64.000000,57.900000,138.368421,84.105263,77.184211,1,1,0.146482,0.239049,0.249847
3,DASH200002,CONTROL,H,usual,23,30,103.666667,54.416667,46.500000,130.393939,72.363636,60.212121,1,1,0.204973,0.248011,0.227730
4,DASH200238,CONTROL,H,usual,21,29,109.687500,67.062500,66.062500,139.636364,84.575758,81.848485,1,6,0.214478,0.207072,0.192868

In [5]:
# save the file as control_and_dash_dip.csv
df_dip.to_csv(dir_path + 'control_and_dash_dip.csv')