### 加入 sex & age 資料
import demogra data and select sex and age data

#### step 1 匯入套件

In [1]:
import pandas as pd
import numpy as np
import sys
import os
import matplotlib.pyplot as plt

#### step 2 匯入資料

In [2]:
dir_path = 'D:/R316yao/bp_circadian/raw_data/Dash Sodium/dashsodium/CSV_Data/'
file = os.path.join(dir_path, 'demogra.csv')
df = pd.read_csv(file)
df.head() # we are intereseted in columns: ID_REL, SEX, and AGE_REL

,ID_REL,COHORT,INCOME_R,RACE_REL,SEX,SV3_WT,ALCOHOL,MARITAL,SMOKE100,SMOKENOW,...,NA3,DIET,COMPSTDY,COMPFEED,WT_REL,HT_REL,AGE_REL,EMP_REL,EDU_REL,SMOK_REL
0,DASH200350,3,1,1,1,70.5,0.0,4,1,1,...,H,COMBINATION,1,1,71.4,189.5,6,1,2,1
1,DASH200096,3,1,1,1,69.0,1.0,1,2,.,...,L,CONTROL,1,1,66.5,180.9,2,1,2,.
2,DASH200334,5,1,1,2,52.0,0.0,4,1,1,...,H,CONTROL,1,1,52.0,156.4,7,1,1,2
3,DASH200361,1,3,0,1,61.0,6.0,1,2,.,...,H,COMBINATION,1,1,61.0,172.3,3,2,3,.
4,DASH200223,4,3,0,2,63.0,0.0,2,2,.,...,L,CONTROL,1,1,63.1,171.2,7,4,4,.

In [3]:
df = df[['ID_REL', 'SEX', 'AGE_REL']]
print(df.shape)
df.head()

(412, 3)

       ID_REL  SEX  AGE_REL
0  DASH200350    1        6
1  DASH200096    1        2
2  DASH200334    2        7
3  DASH200361    1        3
4  DASH200223    2        7

#### step 3 篩選資料
因為發現總共 412 個 ID 比我的血壓資料 344 比多了 68 筆資料
從 DEMOGRA 的資料: Male 178; Female 234.
Age 九個區間 =<30,31-35,36-40....,61-65, >65
我們來確認一下 csv 檔案的內容與 Demogra 的資料是否吻合

In [4]:
print(len(df['SEX'])) #412
print(list(df['SEX']).count(1)) # 1 = Male 178
print(list(df['SEX']).count(2)) # 2 = Female 234

412
178
234

In [5]:
# all
print(df.groupby('AGE_REL').count())

# separate by sex: 1 male, 2 female
df_male = df[df['SEX']==1]
df_female = df[df['SEX']==2]
print(df_male.groupby('AGE_REL').count())
print(df_female.groupby('AGE_REL').count())

         ID_REL  SEX
AGE_REL
1            12   12
2            26   26
3            50   50
4            84   84
5            84   84
6            65   65
7            38   38
8            33   33
9            20   20
         ID_REL  SEX
AGE_REL
1             7    7
2            13   13
3            24   24
4            36   36
5            30   30
6            25   25
7            19   19
8            15   15
9             9    9
         ID_REL  SEX
AGE_REL
1             5    5
2            13   13
3            26   26
4            48   48
5            54   54
6            40   40
7            19   19
8            18   18
9            11   11

#### 對齊 ID
將 abpm_d2 調整完的資料和 demogra 的 ID_REL 對起來 (主要是要 demogra 的 sex and age 資料)

In [ ]:
# import clean data
dir_path = 'C:/Users/Yao-Chung Chen/OneDrive/github_ferygood/CR-Hemodynamics/dash/code/Clean_data/'
H_control = pd.read_csv(dir_path+'H_control_mean.csv', index_col=0)
M_control = pd.read_csv(dir_path+'M_control_mean.csv', index_col=0)
L_control = pd.read_csv(dir_path+'L_control_mean.csv', index_col=0)
H_dash = pd.read_csv(dir_path+'H_dash_mean.csv', index_col=0)
M_dash = pd.read_csv(dir_path+'M_dash_mean.csv', index_col=0)
L_dash = pd.read_csv(dir_path+'L_dash_mean.csv', index_col=0)

In [ ]:
# write a for loop to combine data
def merge(data):
    return pd.merge(data, df, how='left', on='ID_REL')

H_control = merge(H_control)
M_control = merge(M_control)
L_control = merge(L_control)
H_dash = merge(H_dash)
M_dash = merge(M_dash)
L_dash = merge(L_dash)

In [ ]:
# save the merge data
H_control.to_csv(dir_path+'H_control_combined.csv')
M_control.to_csv(dir_path+'M_control_combined.csv')
L_control.to_csv(dir_path+'L_control_combined.csv')
H_dash.to_csv(dir_path+'H_dash_combined.csv')
M_dash.to_csv(dir_path+'M_dash_combined.csv')
L_dash.to_csv(dir_path+'L_dash_combined.csv')

In [ ]:
# concat by diet
control_diet_df = pd.concat([H_control, M_control, L_control])
dash_diet_df = pd.concat([H_dash, M_dash, L_dash])
control_and_dash = pd.concat([control_diet_df,dash_diet_df])

In [ ]:
# save the merge data
control_diet_df.to_csv(dir_path+'control_diet.csv')
dash_diet_df.to_csv(dir_path+'dash_diet.csv')
control_and_dash.to_csv(dir_path+'control_and_dash.csv')